[Desktop Entry]
Type=Application
Version=1.0
Name=MiniOS Help
Name[ru]=Справка MiniOS
Comment=Browse the local MiniOS documentation
Comment[ru]=Просмотр локальной документации MiniOS
Keywords=help;documentation;manual;MiniOS;
Keywords[ru]=справка;документация;руководство;MiniOS;
Exec=minios-help
TryExec=minios-help
Icon=dev.minios.Help
Terminal=false
Categories=System;Documentation;
StartupNotify=true
