[Desktop Entry]
Type=Application
Version=1.0
Name=MiniOS Help
Name[pt_BR]=Ajuda MiniOS
Name[pt]=Ajuda MiniOS
Name[it]=Guida MiniOS
Name[id]=Bantuan MiniOS
Name[fr]=Aide MiniOS
Name[es]=Ayuda de MiniOS
Name[de]=MiniOS-Hilfe
Name[ru]=Справка MiniOS
Comment=Browse the local MiniOS documentation
Comment[pt_BR]=Navegue pela documentação local MiniOS
Comment[pt]=Navegue pela documentação local MiniOS
Comment[it]=Sfoglia la documentazione locale MiniOS
Comment[id]=Jelajahi dokumentasi lokal MiniOS
Comment[fr]=Consultez la documentation locale MiniOS
Comment[es]=Consultar la documentación local de MiniOS
Comment[de]=Durchsuchen Sie die lokale MiniOS-Dokumentation
Comment[ru]=Ознакомьтесь с локальной документацией MiniOS
Keywords=help;documentation;manual;MiniOS;
Keywords[pt_BR]=ajuda;documentação;manual;MiniOS;
Keywords[pt]=ajuda;documentação;manual;MiniOS;
Keywords[it]=aiuto;documentazione;manuale;MiniOS;
Keywords[id]=bantuan;dokumentasi;manual;MiniOS;
Keywords[fr]=aide;documentation;manuel;MiniOS;
Keywords[es]=ayuda;documentación;manual;MiniOS;
Keywords[de]=Hilfe;Dokumentation;Handbuch;MiniOS;
Keywords[ru]=справка;документация;руководство;MiniOS;
Exec=minios-help
TryExec=minios-help
Icon=system-help
Terminal=false
Categories=System;Documentation;
StartupNotify=true
